<app-navigation></app-navigation>
<div class="container">
  <ng-container *ngIf="!loading">
      <p-table [value]="abilities" [rows]="totalAbilities" styleClass="p-datatable-striped"
          [tableStyle]="{'min-width': '50rem'}">
          <ng-template pTemplate="header">
              <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Effect</th>
                  <th>Pokemon</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ability>
              <tr>
                  <td>{{ability.id}}</td>
                  <td>
                  <ng-container *ngIf="ability.name; else elseName">
                    {{getUpperCase(ability.name)}}
                    <ng-container *ngIf="ability.names[3] && ability.names[3].language.name == 'es'">
                      ({{ability.names[3].name}})
                    </ng-container>
                    <ng-container *ngIf="ability.names[5] && ability.names[5].language.name == 'es'">
                      ({{ability.names[5].name}})
                    </ng-container>
                  </ng-container>
                  <ng-template #elseName>
                    <p style="text-align: center;">-</p>
                  </ng-template>
                  </td>
                  <ng-container *ngIf="ability.effect_entries[1]; else elseEffect">
                    <td>{{ability.effect_entries[1].effect}}</td>
                  </ng-container>
                  <ng-template #elseEffect>
                    <td style="text-align: center;">-</td>
                  </ng-template>
                  <ng-container *ngIf="ability.pokemon[0]; else elsePokeExample">
                    <td>{{'Ej: ' + getUpperCase(ability.pokemon[0].pokemon.name)}}</td>
                  </ng-container>
                  <ng-template #elsePokeExample>
                    <td style="text-align: center;">-</td>
                  </ng-template>
              </tr>
          </ng-template>
      </p-table>
  </ng-container>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
