<app-navigation></app-navigation>
<div class="container">
    <ng-container>
        <p-table [value]="abilities" [rows]="totalAbilities" styleClass="p-datatable-striped"
            [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Effect</th>
                    <th>Pokemon</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ability>
                <tr>
                  <!-- <td>{{ ability.id }}</td>
                  <td>{{ ability.name }} ({{ ability.name_es }})</td>
                  <td>{{ ability.effect }}</td>
                  <td>{{ ability.pokemon }}</td> -->
                    <td>{{ability.id}}</td>
                    <ng-container *ngIf="ability.name; else elseBlock">
                      <td>{{ability.name}} ({{ability.names[5].name}})</td>
                    </ng-container>
                    <ng-template #elseBlock>
                      <td style="text-align: center;">-</td>
                    </ng-template>
                    <ng-container *ngIf="ability.effect_entries[1]; else elseBlock">
                      <td>{{ability.effect_entries[1].effect}}</td>
                    </ng-container>
                    <ng-template #elseBlock>
                      <td style="text-align: center;">-</td>
                    </ng-template>
                    <ng-container *ngIf="ability.pokemon; else elseBlock">
                      <td>{{'Ej: ' + ability.pokemon[0].pokemon.name}}</td>
                    </ng-container>
                    <ng-template #elseBlock>
                      <td style="text-align: center;">-</td>
                    </ng-template>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>
</div>
