<div class="container p-col-5">
  <div *ngIf="!loading" class="contentSize">
    <!-- <img class="logo" src="../../../assets/img/login.png" alt="Login"> -->
    <h1>REGISTRO</h1>
    <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">
      <div class="input-element">
        <input type="email" pInputText class="form-control" formControlName="email" placeholder="correo">
        <!-- <label>Email</label> -->
        <span *ngIf="emailRequired()" class="text-danger">
          El <strong>correo</strong> es requerido
        </span>
        <span *ngIf="emailInvalid()" class="text-danger">
          El <strong>correo</strong> es invalido
        </span>
      </div>
      <div class="input-element">
        <input type="password" pInputText class="form-control" formControlName="password" placeholder="contraseña">
        <!-- <label>Password</label> -->
        <span *ngIf="passwordRequired()" class="text-danger">
          La <strong>password</strong> es requerida
        </span>
        <span *ngIf="passwordMinLength()" class="text-danger">
          El <strong>password</strong> debe tener 6 caracteres
        </span>
      </div>
      <div class="input-element">
        <input type="password" pInputText class="form-control" formControlName="repetirPassword" placeholder="repetir contraseña">
        <!-- <label>Repetir Passowrd</label> -->
      </div>
      <div class="d-grid gap-2 mb-3">
        <p-button class="btn btn-primary btn-lg" [disabled]="registrarUsuario.invalid" type="submit">Aceptar</p-button>
        <p-button routerLink="/login">Volver</p-button>
      </div>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
