<app-navigation></app-navigation>
<div class="container">
  <div class="p-col">
    <div class="cards">
      <p-card *ngFor="let nat of natures" header={{getUpperCase(nat.name)}}>
        <div style="background-color:green; color:white" *ngIf="nat.decreased_stat == null && nat.increased_stat == null; else elseStat">
          Neutral
        </div>
        <ng-template #elseStat>
          <div class="natures">
            <p><i class="pi pi-arrow-up-right"></i>{{' ' + nat.decreased_stat.name}}</p>
            <p><i class="pi pi-arrow-down-right"></i>{{' ' + nat.increased_stat.name}}</p>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
