<div class="container p-col-5">
  <div *ngIf="!loading" class="contentSize">
    <h1>INICIO</h1>
    angel.ruiz@campusfp.es
    <form (ngSubmit)="login()" [formGroup]="loginUsuario">
      <div class="input-element">

        <span class="p-input-icon-left">
          <i class="pi pi-search" style="margin-left: 25%;"></i>
          <input type="email" pInputText formControlName="email" placeholder="correo">
        </span><br>
        <span *ngIf="emailRequired()" class="text-danger">
          El <strong>correo</strong> es requerido
        </span>
        <span *ngIf="emailInvalid()" class="text-danger">
          El <strong>correo</strong> es invalido
        </span>

      </div>
      <div class="input-element">

        <input type="password" pInputText formControlName="password" placeholder="contraseña"><br>
        <a class="mt-3" style="margin-left: 25%;" routerLink="/recoverPassword">Recuperar Contraseña</a>
        <span *ngIf="passwordInvalid()" class="text-danger">
          La <strong>password</strong> es requerida
        </span>

      </div>
      <div>
        <p-button type="submit" [disabled]="loginUsuario.invalid" >Iniciar</p-button>
      </div>
      <p class="mt-3">¿No tienes cuenta? <a routerLink="/registerUser">Registrar</a></p>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
