
.info {
  width: 100%;
  height: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  min-height: 60px;
  margin-left: 20%;
  margin-right: 20%;
}

td {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphic {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
}

.highcharts-data-label-box {
  fill: #a4edba;
  stroke: gray;
  stroke-width: 1px;
}

.highcharts-data-label {
  font-weight: normal;
}

.highlight .highcharts-data-label-box {
  fill: red;
  stroke-width: 2px;
  stroke: black;
}

.highlight.highcharts-data-label text {
  font-weight: bold;
  fill: white;
}
