<app-navigation></app-navigation>
<div class="container" *ngIf="pokemon">
  <div class="p-col">
    <div class="p-col" style="text-align: center">
        <label for="pokemonId">ID </label>
        <p-inputNumber class="form-control" id="pokemonId" [(ngModel)]="pokemonId" name="pokemonId" [min]="0" [max]="1500"></p-inputNumber>
        <p-button class="btn btn-primary" (click)="getPokemon()">Buscar</p-button>
    </div>

    <div class="p-col">
      <div class="p-col-4 inline-block" style="justify-content: center;">
      <!-- <div class="p-col-4 inline-block" style="justify-content: center;" [ngStyle]="{'background-color':color}"> -->
        <div class="p-col" style="align-items: center;">
          <h1 style="text-align: center;">#{{ pokemon.id }}{{ pokemon.name }}</h1>
          <div class="image">
            <img [src]="pokemon.sprites?.front_default" alt="Imagen del Pokémon">
          </div>
        </div>
      </div>

      <div class="p-col-8 inline-block">
        <div class="info">
          <div class="grid">
            <ng-container *ngIf="pokemon.types.length != 1; else elseBlock">
              <td>
                Types:
                <ng-container *ngFor="let tp of pokemon.types">
                  {{ tp.type?.name }}
                </ng-container>
              </td>
            </ng-container>
            <ng-template #elseBlock>
              <td>
                <ng-container *ngFor="let tp of pokemon.types">
                  Type: {{ tp.type?.name}}
                </ng-container>
              </td>
            </ng-template>
            <td>Height: {{ pokemon.height / 10 }} m</td>
            <td>Weight: {{ pokemon.weight / 10 }} kg</td>
            <ng-container *ngFor="let ab of abilities">
              <ng-container *ngIf="ab.is_hidden; else elseBlock">
                <td>Hidden ability: {{ ab.name}}</td>
              </ng-container>
              <ng-template #elseBlock>
                <td>Ability: {{ ab.name}}</td>
              </ng-template>
            </ng-container>
          </div>
          <div class="graphic">
            <div id="container" style="width: 600px; height: 250px;" #container></div>
          </div>
      </div>
      </div>
    </div>
  </div>
    <!-- <div class="pie-de-pagina">hola</div> -->
</div>
