<app-navigation></app-navigation>
<div class="container" *ngIf="pokemon">
    <ng-container>
    <p-table [value]="pokeList" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Name</th>
              <th>URL</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pList>
          <tr>
              <td>{{pList.name}}</td>
              <td>{{pList.url}}</td>
          </tr>
      </ng-template>
  </p-table>
  </ng-container>
</div>