<div class="container p-col-5">
  <div *ngIf="!loading" class="contentSize">
    <!-- <img class="logo" src="../../../assets/img/login.png" alt="Login"> -->
    <h1>RECUPERAR</h1>
    <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
      <div class="input-element">
        <input type="email" pInputText class="form-control" formControlName="correo" placeholder="correo">
        <!-- <label>Email</label> -->
        <span *ngIf="emailRequired()" class="text-danger">
          El <strong>correo</strong> es requerido
        </span>
        <span *ngIf="emailInvalid()" class="text-danger">
          El <strong>correo</strong> es invalido
        </span>
      </div>
      <div class="d-grid gap-2 mb-3">
        <p-button type="submit" class="btn btn-primary btn-lg" [disabled]="recuperarUsuario.invalid" >Recuperar</p-button>
        <p-button routerLink="/login">Volver</p-button>
      </div>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
